/* allow map to fill viewport */
html, body, #map-canvas, .container-fluid
{
    /* height of these elements */
    height: 100%;

    /* no margin around these elements */
    margin: 0;

    /* disable scrollbars */
    overflow: hidden;

    /* no padding within these elements */
    padding: 0;
}

#form-container {
    height: 50pt;
    width:100%;
    position: fixed;
    top: 0;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
}
/* center form */
/* moves everything */
#form
{
    width: 100%;
    height: 100%;
}

.col-sm-6 {
    width:25%;
}

#datetimepicker {
    text-align: center;
}

#eventName {
    text-align: center;
}

/*#eventType {
    option: center;
}*/

#position {
    text-align: center;
}

#date-cont {
    width:100%;
    padding: 0 300pt;
    margin: 0;
}

/* stylize text box */

/* #name this is ID 
   .form-group is a class
*/

/*/*#floating-panel /*having this makes a box of 3 hide, show and delete markers
{
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}*/


#eventName
{
    /* override typeahead.js's transparent background */
    background-color: #ffffff !important;

    /* text box's width */
    /*width: 300px;*/
}

#form .form-control
{
    margin-bottom: 5px;
}

/* stylize info window */
#info
{
    /* no margin around this element */
    margin: 0;

    /* allow scrollbars as needed */
    overflow: auto;
}
#info ul
{
    margin-bottom: 0;
}

/* stylize typeahead.js a la http://twitter.github.io/typeahead.js/css/examples.css */
.tt-menu
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1px;
    max-height: 150px;
    overflow-y: auto;
    width: 300px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.tt-suggestion {
    margin: 0;
    padding: 6px 12px;
}
